.container {
    margin: 50px 0;
}

.card {
    margin: 10px 1% !important;
}

.confirmed {
border: 2px solid rgb(255,69,0);
box-shadow: none;
}

.active {
    border: 2px solid rgb(218,112,214);
}

.recovered {
    border: 2px solid rgb(0,191,255);
}

.deaths {
    border: 2px solid rgb(0,255,127);
}