.container {
    margin: 50px 0;
}

.card {
    margin: 10px 1% !important;
}

.confirmed {
border: 2px solid rgb(255,106,136);
}

.active {
    border: 2px solid rgb(112,180,255);
}

.recovered {
    border: 2px solid rgb(126,202,143);
}

.deaths {
    border: 2px solid rgb(183,187,191);
}